esp-idf
esp32_firmware/build
esp32_firmware/sdkconfig
esp32_firmware/sdkconfig.old
.vscode
esp32_firmware/.vscode
Remote_Control/build-robot_controller-Desktop_Qt_5_11_1_MinGW_32bit-Debug
openMvTesting.py
testArduinoSerialCommunication
esp32_firmware/sdkconfig
